#mydb5.5.58_install.sh 配置文件

#表示需要安装的目录
install_directory=/home


#表示是否需要默认端口 1表示默认 2表示自定义
portnomber=1
#portnomber 定义为2是需要对PORTSIZE进行定义 PORTSIZE表示数据库端口号
#portnomber=2
#PORTSIZE=自定义端口 例如3308,3309


#download 表示是否网络自动下载安装 y表示网络安装  n表示手动下载
download=n

